<div class="main-nav">
    <nav>
        <a href="/">Home</a>
        <a href="/trips">Explore Trips</a>
        <a href="/new">New Trip</a>
<<<<<<< HEAD
        <a href="/users/login">Login</a>
=======
        <a href="/trips/mytrips">My Trips</a>
    </nav>
</div>
<div>
    <nav class="logout-link" style="position: absolute; top: 10px; right: 20px;">
>>>>>>> 5203197336b8031a766bf2abdf8a48190f72a097
        <a href="/users/logout">Logout</a>
    </nav>
</div>

