<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Index</title>
</head>
<body>
    <div>
        <h2>EXPLORE</h2>
    </div>
    <div>
        <% for(let i = 0; i < trips.length; i++) { %>
            <% const firsttrip = trips[i] %>
            <a href="/trips/<%= firstTrip._id %>"><%= firstTrip.name %></a>
        <% } %>
    </div>
</body>
</html>