<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Page</title>
</head>
<body>
    <h1>Plan a New Trip:</h1>
    <div>
        <form action="/trips" method="POST">
            <div>
                <label for="trip-name">Trip Name</label>
                <input
                    type="text"
                    placeholder="2022 Fall Rager"
                    name="trip-name"
                    id="trip-name"
                >
            </div>
            <div>
                <label for="dates">Dates</label>
                <input 
                    type="text"
                    placeholder="Nov 1 - Nov 10"
                    name="dates"
                    id="dates"
                >
            </div>
            <div>
                <label for="city">City</label>
                <input  
                    type="text"
                    placeholder="Newport Beach"
                    name="city"
                    id="city"
                >
            </div>
            <div>
                <label for="state">State</label>
                <input
                    type="text"
                    placeholder="CA"
                    name="state"
                    id="state"
                >
            </div>
            <div>
                <label for="activities">Activities</label>
                <input 
                    type="text"
                    placeholder="Surfing, snorkelling, raging"
                    name="activities"
                    id="activities"
                >
            </div>
            <div>
                <label for="photos">Photos</label>
                <input 
                    type="text"
                    placeholder="http://"
                    name="photos"
                    id="photos"
                >
            </div>
            <div>
                <label for="active">Active</label>
                <input
                    type="boolean"
                    placeholder= "true"
                    name="active"
                    id="active"
                >
            </div>
            <div>
                <label for="user">User</label>
                <input 
                    type="text"
                    placeholder="johnnycool5"
                    name="user"
                    id="user"
                >
            </div>
            <div>
                <button class="button is-info">Create This Trip</button>
            </div>
        </form>
    </div>
</body>
</html>