<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Create Page</title>
</head>
<img class="DBlogo" src="https://i.imgur.com/cBxeHWy.png" alt="DB logo">
<body>
    <%- include('partials/nav') %>

    <h1>Plan a New Trip:</h1>
    <container class="plantrip">
    <div>
        <form action="/trips" method="POST" class="tripForm">
            <div>
                <label for="tripName">Trip Name</label>
                <input
                    type="text"
                    placeholder="2022 Fall Rager"
                    name="tripName"
                    id="tripName"
                >
            </div>
            <div>
                <label for="date">Dates</label>
                <input 
                    type="date"
                    placeholder="Nov 1 - Nov 10"
                    name="date"
                    id="date"
                >
            </div>
            <div>
                <label for="city">City</label>
                <input  
                    type="text"
                    placeholder="Newport Beach"
                    name="city"
                    id="city"
                >
            </div>
            <div>
                <label for="state">State</label>
                <input
                    type="text"
                    placeholder="CA"
                    name="state"
                    id="state"
                >
            </div>
            <div>
                <label for="activities">Activities</label>
                <input 
                    type="text"
                    placeholder="Surfing, snorkelling, raging"
                    name="activities"
                    id="activities"
                >
            </div>
            <div>
                <label for="photos">Photos</label>
                <input 
                    type="text"
                    placeholder="http://"
                    name="photos"
                    id="photos"
                >
            </div>
            <div class="userContainer">
                <label for="userId">Users</label>
                <div class="userInputs">
                    <input type="text" name="userId" id="userId">
                    <input type="text" name="userId" id="userId">
                    <input type="text" name="userId" id="userId">
                    <input type="text" name="userId" id="userId">
                    <input type="text" name="userId" id="userId">
                    <input type="text" name="userId" id="userId">
                </div>
            </div>
        </container>
            <div>
                <button class="button is-info">Create This Trip</button>
            </div>
        </form>
    </div>
</body>
</html>