

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 10px;
    place-items: center;
}


.view-by{
    text-align: center;
    padding:15px;
    font-size: 30px;
    color:antiquewhite;
    margin: 5px;
}

.trips-container{
    grid-column: 2;
    text-align: center;
    background-color: rgba(239, 238, 235, 0.793);
    border-radius: 20px;
    padding:90px;
    padding-top:10px;
}

.city-name{
    color:rgb(21, 20, 20);
    font-size: 30px;
    padding-bottom: 10px;
    margin: 5px ;
    text-shadow: 1px 2px rgb(234, 230, 225);
    text-decoration: dotted underline;
}

.trip-name{
    font-size:25px;
    padding:10px;
    color: rgb(60, 58, 58);
} 
.trip-name2{
font-size: 40px;
    padding:10px;
    color: rgb(60, 58, 58);

}

.photos-1{
    grid-column: 1;
    background-color: rgba(239, 238, 235, 0.793);
    border-radius: 10px;
    
}

img{
    display: block;
    max-width: 300px;
    max-height: 200px;
    padding: 10px;

}

.photos-2{
    grid-column: 3;
    background-color: rgba(239, 238, 235, 0.793);
    border-radius: 10px;
}
