@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
 
 body {
    font-family: "quicksand";
    background: url("https://i.imgur.com/2HKH2FK.jpg");
    background-size: cover;
    }
   

nav {
   font-size: 30px;
   font-family: "kanit";
   font-weight: bold;
   display: flex;
   flex-wrap: wrap;
   padding-bottom: 30px;
   justify-content: space-between;
   padding-inline: 30px;
   text-shadow: black 1px 1px;
   
}

a {
   color: black;
   padding: 20px;
   text-decoration: none;
}

a:hover {
   color: white;
}

.DBlogo {
   max-width: 100px;
}

h2 {
   font-size: 50px;
   text-align: center;
   font-family: "righteous";
   color: white;
}

.allTrips {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row-reverse;
   justify-content: space-evenly;
   background-color: rgba(76, 124, 143, 0.9);
   background-size: cover;
   border-radius: 20%;
   padding: 50px;
}

h1 {
   font-size: 50px;
   text-align: center;
   font-family: "righteous";
   color: white;
}


.plantrip {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   align-content: center;
   font-size: 30px;
   background-color: rgba(76, 124, 143, 0.9);
}

.tripForm {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
}

.is-info {
   background-color: rgb(47, 203, 19);
  border: dotted darkgreen;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  margin-inline-start: 70px;
  margin-bottom: 20px;
}

.is-info:hover {
   background-color: greenyellow;
}

#tripName {
   border: rgb(0, 0, 0);
   border-style: ridge;
   padding: 10px;
   width: 300px;
}

#date {
   border: rgb(0, 0, 0);
   border-style: ridge;
   padding: 10px;
   width: 300px;
}

#city {
   border: rgb(0, 0, 0);
   border-style: ridge;
   padding: 10px;
   width: 300px;
}

#state {
   border: rgb(0, 0, 0);
   border-style: ridge;
   padding: 10px;
   width: 300px;
}


#activities {
   border: rgb(0, 0, 0);
   border-style: ridge;
   padding: 10px;
   width: 300px;
}

#photos {
   border: rgb(0, 0, 0);
   border-style: ridge;
   padding: 10px;
   width: 300px;
}

#active {
   border: rgb(0, 0, 0);
   border-style: ridge;
   padding: 10px;
   width: 300px;
}

.userContainer {
   display: flex;
   flex-direction: column;
   padding: 10px;
}

.userInputs {
   display: flex;
   flex-direction: column;
   padding: 10px;
   width: 300px;
}

#userId {
   border: rgb(0, 0, 0);
   border-style: ridge;
   padding: 10px;
   margin: 2px;
   width: 300px;
}


input {
   display: flex;
   align-self: flex-end;
}

