@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.DBlogo {
    max-width: 100px;
    position: absolute;
    left: 5px;
    top: 5px;
}
.main-nav {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 25px;
    margin-top: 3px;
}
.logout-link {
    margin-top: 3px;
}
.logout-link:hover {
    padding: 5px;
}
a {
    color: black;
    text-decoration: none;
    padding: 10px;
}
a:hover {
    font-size: 28px;
}
body {
    background-image: url('https://i.imgur.com/lFx3qYC.jpg');
    background-size: cover;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}
.trip-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    border-radius: 5%;
    background-color: rgb(13, 105, 105, .85);
    margin-right: 15px;
    min-width: 700px;
    
}
.trip-image {
    border-radius: 10%;
}
h3, p {
    padding: 0px;
    margin: 5px;
}
.edit-link {
    font-size: 30px;
    margin-bottom: 25px;
    border: solid;
    border-radius: 20%;
    padding: 5px;
}
.chat-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    border-radius: 5%;
    justify-content: flex-start;
    width: 40%;
    max-height: 700px;
    overflow-y: scroll;
    background-color: rgb(253, 244, 220, .85);
}
h4 {
    display: flex;
    align-self: center;
    font-size: 25px;
}
.comments-input {
    border-radius: 20%;
    font-family: 'Caveat', cursive;
    font-size: 17px;
    margin-top: 10px;

}
button {
    background-color: rgb(253, 244, 220);
    font-family: 'Caveat', cursive;
    font-size: 20px;
    border-radius: 20%;
    margin-bottom: 10px;
    margin-top: 10px;
}
button:hover {
    border-style: dotted;
}


