<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Register Page</title>
</head>
<body>
    <img class="DBlogo" src="https://i.imgur.com/cBxeHWy.png" alt="DB logo">
    <h1>Create an Account</h1>
    <div>
        <form action="/users/register" method="POST">
            <div>
                <label class="label" for="username">Username</label>
                <div>
                    <input 
                        type="text"
                        class="input"
                        name="username"
                        placeholder="icecodetrucker4"
                    >
                </div>
            </div>
            <div>
                <label class="label" for="password">Password</label>
                <div>
                    <input
                        type="text"
                        class="input"
                        name="password"
                        placeholder="*******"
                    >
                </div>
            </div>
            <div>
                <button>Submit</button>
            </div>
        </form>
    </div>
</body>
</html>